<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ally's XWP Review", root_path, id: "logo" %>
    <%= link_to image_tag("ally-xwp-cat-logo-small.png", alt: "Ally's XWP Review Logo", class: "small")%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",   root_path %></li>
        <li><%= link_to "Episodes",   episodes_path %></li>
        <li><%= link_to "Characters", characters_path %></li>
        <li><%= link_to "Random Quote", quote_path %></li>
	<li><%= link_to "Response Posts", posts_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
