<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ally's XWP Review</title>
      <style>
        body {
          background-color: #7F7E67;
          color: #EFE8D9;
        }
      </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
